body {
    margin: 0;
    padding: 0;
    text-align: center;
}
.mapdiv {
    display: block;
    margin: auto;
}

.mapdiv path{
    fill:#0055d4;
    fill-opacity: 1;
    stroke: #ffffff;
 
}
.mapdiv a path:hover{
    fill: rgb(1, 1, 17);
}